.btn{
    width: 210px;
    border:none;
    text-align: center;
    height: 50px;
    background-color: $orange-color;
    border-radius: 10px;
    line-height: 3rem;
    font-size: 16px;
    font-weight: 600;
    color: $white-color;
    &:hover{
        color: $white-color;
        text-decoration: none;
    }
    &__outline{
        border:none;
        background-color: rgba(255, 255, 255,0)
    }
    &__white{
        background-color: $white-color;
        color: $orange-color;
        border:none;
        &:hover{
            color: $orange-color;

        }
    }
}