.contacts{
    background: url('../../img/bg/contacts-bg.png') center (center/cover) no-repeat;
    min-height: 801px;
    padding: 102px 0 140px 0;
    &__title{
        text-align: center;
        font-size: 35px;
        line-height: 40px;
        font-weight: 600;
        color: $white-color;
        span{
            color: $orange-color;
            margin-left: 7px;
        }
    }
    &__descr{
        text-align: center;
        margin-top: 29px;
        font-size: 16px;
        line-height: 30px;
        font-weight: 400;
        color: $white-color;
    }
    &__form{
        margin-top: 97px;   
        display: grid;
        grid-template-columns: repeat(2,minmax(auto,400px));
        grid-template-rows: 50px minmax(auto,200px);
        gap: 30px;
        justify-content: center;
    }
    &__textarea{
        grid-column: 1/3;
        border-radius: 10px;
        padding: 20px 20px;
    }
    &__input{
        padding: 20px 20px;
        background-color: $white-color;
        border-radius: 10px;
    }
    &__links{
        align-self:center;
        justify-self: end;
    }
    &__link{
        padding-left: 20px;
        &:first-child{
            padding: 0;
        }
    }
    &__icon{
        width: 43px;
        height: 43px;
    }
}