.newsletter {
    background: url('../../img/bg/newsletter-bg.png') center (center/cover) no-repeat;
    padding: 100px 100px;

    &__form {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__btn {
        border: none;
    }

    &__input {
        min-width: 562px;
        min-height: 50px;
        margin-right: 30px;
        background-color: $white-color;
        border-radius: 10px;
        padding: 0 20px;
    }
}